test-support/src/test/resources/validation/test_schema_multiple_1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0"
	targetNamespace="http://api.ft.com/test" 
	xmlns:test2="http://api.ft.com/test/test2"
	xmlns:tns="http://api.ft.com/test"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:import namespace="http://api.ft.com/test/test2" 	schemaLocation="test_schema_multiple_2.xsd" />

	<xs:element name="person">
		<xs:complexType>
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="birthdate" type="test2:birthdate" />
		</xs:sequence>
	</xs:complexType>
	</xs:element> 



</xs:schema>