test-support/src/test/resources/validation/test_schema_multiple_2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://api.ft.com/test/test2"
	xmlns:ns1="http://api.ft.com/test" xmlns:tns="http://api.ft.com/test/test2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:import namespace="http://api.ft.com/test" schemaLocation="test_schema_multiple_1.xsd" />

	<xs:complexType name="birthdate">
		<xs:sequence>
			<xs:element name="month" type="xs:string" />
			<xs:element name="day" type="xs:int" />
			<xs:element name="year" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>